


<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">RESUMEN DE PERFORACIÓN PILAS</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="wrapper">
                        <div class="h_iframe">
                            <iframe id="idIframe" onload="iframeLoaded()" src="http://10.42.16.20:8080/Reports/powerbi/Geomet/Pilas%20Power%20BI?rs:embed=true" frameborder="0" allowFullScreen="true"></iframe>
                        </div>
                        </div>
                    </div>
                    </div>

                </div>

    </div>
</section>
<style>
    .wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
    }

        .wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    ul {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
    }

        ul ul {
            margin: 0 0 0 2em; /* Add some left margin for inner lists */
        }

    .rectangle-list a {
        position: relative;
        display: block;
        padding: .4em .4em .4em .8em;
        *padding: .4em;
        margin: .5em 0 .5em 2.5em;
        background: #F8F8FF;
        color: #444;
        text-decoration: none;
        transition: all .3s ease-out;
    }

        .rectangle-list a:hover {
            background: #eee;
        }

        .rectangle-list a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -2.5em;
            top: 50%;
            margin-top: -1em;
            background: #00BFFF;
            height: 2em;
            width: 2em;
            line-height: 2em;
            text-align: center;
            font-weight: bold;
        }

        .rectangle-list a:after {
            position: absolute;
            content: '';
            border: .5em solid transparent;
            left: -1em;
            top: 50%;
            margin-top: -.5em;
            transition: all .3s ease-out;
        }

        .rectangle-list a:hover:after {
            left: -.5em;
            border-left-color: #00BFFF;
        }
</style>