@{ 
    Layout = "~/Views/Shared/_ViewFinal.cshtml";

}
<script src="~/Scripts/jquery-3.4.0.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  
<link href="~/Content/Loader.css" rel="stylesheet" />

<section class="panel">
    @Html.Partial("_PartialViewLoader")
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">GRÁFICOS HIDROGEOLOGÍA</h2>
    </header>
    <div class="panel-body">



        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">SELECCIONE UN SONDAJE</h2>
                    </header>
                    <div class="panel-body">
                   
                     
                                    @using (Ajax.BeginForm("GraficosHidrogeologia", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "Grafico", InsertionMode = InsertionMode.Replace, LoadingElementId = "loading", OnFailure = "failedSearch" }))
                                    {
                                                @Html.DropDownList("HOLEID", (IEnumerable<SelectListItem>)ViewBag.ListaSondajes, new { @class = "form-control input-lg mb-md" })

                                        <input type="submit" value="Buscar" class="btn btn-primary " />
                                    }

                    </div>
                </section>
            </div>
             <div class="col-md-6">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">EXPORTACIÓN</h2>
                        </header>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped mb-none">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>DATA</th>
                                            <th>EXPORT</th>
                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Exportación BD HISTÓRICA</td>
                                            <td><input type="button" id="btnExportAll" value="Export BD Hidrogeologia .XLS " class="btn btn-primary" /></td>
                                      
                                        </tr>
                                    
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            
    </div>

   
    <div id="Grafico"></div>







</div>
</section>









<script>
    $(document).ready(function () {

        $('#btnExportAll').click(function () {
            window.location = "/Hidrogeologia/ExportToExcelALL";
        });
    });
</script>


