
@{
    Layout = null;
}
<div class="col-md-12 ">

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">DOCUMENTO DIGITALIZADO</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <embed src="@Url.Content("~/Documentos/PetrografiaVerPDF/")" class="col-md-12" style="height:860px;" type="@ViewBag.AppType" />
            </div>
        </div>
    </section>
</div>